# Must be set
type=static|dynamic
medium=wired|wireless
interface= #wlan0, eth0

# Needed if medium = wireless
essid=
secure=no|wpa

# Needed if medium = wireless && secure = wpa
passphrase=

# Needed if type = static
ip_address=
ip_netmask=
ip_broadcast=
ip_gateway=
dns_domain=
dns_server=
