# Must be set
type=static|dynamic
secure=no|wpa
interface= #wlan0, eth0
essid=

# Needed if secure = wpa
passphrase=

# Needed if type = static
ip_address=
ip_netmask=
ip_broadcast=
ip_gateway=
dns_domain=
dns_server=
